$color-principal: rgb(255,0,0);
$color-secondary: rgb(174,174,174);
$color-contrast: rgb(255,255,255);


.bg--principal {
  background-color: $color-principal;
  color: $color-contrast;
}

.bg--principal:hover {
  background-color: lighten($color-principal, 7%);
  color: $color-contrast;
}

.bg--principal:active, .bg--principal:focus {
  color: $color-contrast;
}

.bg--contrast {
  background-color: $color-contrast;
  color: $color-secondary;
}

.text-principal {
  color: $color-principal;
}

.text-secondary {
  color: $color-secondary;
}

