body {
    background: rgba(130, 142, 145, 0.45);

}
header {
    background-color: rgba(255, 255, 255, 0);
    padding: 10px 14px;
    font-size: 21px;
    * {
        display: inline-block;
      }
      span {
          padding-left: 7px;
          padding-right: 7px;
      }
      h3 {
          font-weight: bold;
         font-size: 21px;
          padding-left: 7px;
          padding-right: 7px;
      }
}


/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
header {
    background-color: $color-principal;
    height: 70px;
    color: #fff;
}

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {


}
