@import "colors";

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.map {
  width: 100%;
  height: 100vh;
  position: absolute;
  top:0;
  z-index: -1;
}

.result__details {
  padding: 21px 35px;
  position: absolute;
  bottom: 5vh;
}

%flex {
  display: flex!important;
  justify-content: center;
  align-items: center;
}

@import "header" ;

#sedes{
	padding: 0;
	display: flex;
	flex-direction: column;
  overflow: hidden;
	.sede__title {
		margin-bottom: 30px;
		margin-top: 30px;
	}
	[class*='sede--'] {
		cursor: pointer;
		background-repeat: no-repeat;
		background-size: cover;
		height: 100px;
		@media (min-width: 670px) {
			height: 200px;
			border: 2px solid white;
		}
		p{
			width: 50%;
			/* text-transform: uppercase; */
			font-size: 17px;
			color: white;
			/* margin: 0 0 10px; */
			background-color: rgba(0,0,0,.5);
		}
	}
	.sede--Monterrico{
		background-image: url("../img/campus-monterrico.jpg");
		background-position: top;
	}
	.sede--SanIsidro{
		background-image: url("../img/campus-san-isidro-2.jpg");
		background-position: top;
	}
	.sede--Villa{
		background-image: url("../img/sede-villa.jpg");
		background-position: bottom;
	}
	.sede--SanMiguel{
		background-image: url("../img/campus-san-miguel.jpg");
		background-position: bottom;
	}
}

@import "buscador";

#login{
	align-items: center;
	height: 100vh;
	background-color: #FFF;
	display: flex;
	justify-content: center;
	flex-direction: column;
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../img/bg-mobile.JPG');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	.login__contenido{
		margin-top: 30px;
		.login__cajas,
		.login__botones{
			margin-top: 40px;
			display: flex;
			flex-direction: column;
			align-items: center;
			button:nth-child(1){
				padding: 10px 16px;
				font-size: 18px;
				line-height: 1.3333333;
				text-transform: uppercase;
				color: white;
				background-color: $color-principal;
				margin-bottom: 10px;
				cursor: pointer;
				&:hover{
					background: rgb(215,0,0);
					transition: 1s;
				}
			}
			button:nth-child(2){
				text-transform: uppercase;
				padding: 10px 16px;
				font-size: 18px;
				line-height: 1.3333333;
				border:1px solid #4267b2;
				background: #4267b2;
				color: #fff;
				cursor: pointer;
				&:hover{
					background: #365899;
					transition: 1s;
				}
			}
		}
		.login__cajas{
			margin-top: 10px;
			margin-bottom: 10px;
		}
	}
	.login__title--text{
		color: #FFFFFF;
		font-size: 50px;
	}

	input[type="text"],
	input[type="password"]{
		width: 80%;
		font-size: 16px;
		color: #FFF;
		outline: none;
		padding: 10px;
		background: none;
		border: none;
		border-bottom: 1px solid #dedcdc;
	}
	button{
		width:80%;
	}
	/* Cambio color placeholder*/
	::-webkit-input-placeholder {
		color: #dcdada;
	}
	img{
		position: absolute;
		top: 20px;
		right: 20px;
	}

}

.modal-body {
  padding: 21px 35px;
}
/**styles quiero ir a mis clases**/
#search input{
  display: block;
  margin-top: 5px;
  border: none;
  background-color: #dcdada;
  width: 80%;
}
small{
  margin-left: 14%;
}
.p-clase{
  margin: 0 0 0px;
}
.container-buscar{
  cursor: pointer;
}

@import "resultado";
