.bg--principal {
  background-color: red;
  color: white;
}

.bg--principal:hover {
  color: white;
}

.bg--contrast {
  background-color: white;
  color: #aeaeae;
}

.text-principal {
  color: red;
}

.text-secondary {
  color: #aeaeae;
}

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.map {
  width: 100%;
  height: 100vh;
}

.result__details {
  padding: 21px 35px;
  position: absolute;
  bottom: 5vh;
}

header {
  background-color: rgba(255, 255, 255, 0);
  padding: 10px 14px;
  font-size: 21px;
}

header * {
  display: inline-block;
}

header span, header p {
  padding-left: 7px;
  padding-right: 7px;
}

header h3 {
  font-weight: bold;
  font-size: 21px;
  padding-left: 7px;
  padding-right: 7px;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  header {
    background-color: red;
    height: 70px;
    color: #fff;
  }
}

/* Medium devices (desktops, 992px and up) */
#sedes {
  padding: 0;
  display: flex;
  flex-direction: column;
}

#sedes .sede__title {
  margin-bottom: 30px;
  margin-top: 30px;
}

#sedes [class*='sede--'] {
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: cover;
  height: 114px;
}

@media (min-width: 670px) {
  #sedes [class*='sede--'] {
    height: 211px;
    border: 2px solid white;
  }
}

#sedes [class*='sede--'] p {
  width: 50%;
  /* text-transform: uppercase; */
  font-size: 17px;
  color: white;
  /* margin: 0 0 10px; */
  background-color: rgba(0, 0, 0, 0.5);
}

#sedes .sede--Monterrico {
  background-image: url("../img/campus-monterrico.jpg");
  background-position: top;
}

#sedes .sede--SanIsidro {
  background-image: url("../img/campus-san-isidro-2.jpg");
  background-position: top;
}

#sedes .sede--Villa {
  background-image: url("../img/sede-villa.jpg");
  background-position: bottom;
}

#sedes .sede--SanMiguel {
  background-image: url("../img/campus-san-miguel.jpg");
  background-position: bottom;
}

#login {
  align-items: center;
  height: 100vh;
  background-color: #FFF;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/bg-mobile.JPG");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* Cambio color placeholder*/
}

#login .login__contenido {
  margin-top: 30px;
}

#login .login__contenido .login__cajas,
#login .login__contenido .login__botones {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#login .login__contenido .login__cajas button:nth-child(1),
#login .login__contenido .login__botones button:nth-child(1) {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 1px;
  text-transform: uppercase;
  color: white;
  background-color: red;
  margin-bottom: 10px;
}

#login .login__contenido .login__cajas button:nth-child(2),
#login .login__contenido .login__botones button:nth-child(2) {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
}

#login .login__contenido .login__cajas {
  margin-top: 10px;
  margin-bottom: 10px;
}

#login .login__title--text {
  color: #FFFFFF;
  font-size: 50px;
}

#login input[type="text"],
#login input[type="password"] {
  width: 80%;
  font-size: 16px;
  color: #FFF;
  outline: none;
  padding: 10px;
  background: none;
  border: none;
  border-bottom: 1px solid #dedcdc;
}

#login button {
  width: 80%;
}

#login ::-webkit-input-placeholder {
  color: #dcdada;
}

#login img {
  position: absolute;
  top: 20px;
  right: 20px;
}
