#login {
  align-items: center;
  height: 100vh;
  background-color: aqua;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#login .login__cajas,
#login .login__botones {
  display: flex;
  flex-direction: column;
}
