.bg--principal {
  background-color: red;
  color: white;
}

.bg--principal:hover {
  color: white;
}

.bg--contrast {
  background-color: white;
  color: #aeaeae;
}

.text-principal {
  color: red;
}

.text-secondary {
  color: #aeaeae;
}

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.map {
  width: 100%;
  height: 100vh;
}

.result__details {
  padding: 21px 35px;
  position: absolute;
  bottom: 5vh;
}

body {
  background: rgba(130, 142, 145, 0.45);
}

header {
  background-color: rgba(255, 255, 255, 0);
  padding: 10px 14px;
  font-size: 21px;
}

header span {
  padding-left: 7px;
  padding-right: 7px;
}

header h5 {
  display: inline-block;
  font-weight: bold;
  font-size: 21px;
  padding-left: 7px;
  padding-right: 7px;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  header {
    background-color: #FB1515;
    height: 70px;
    color: #fff;
  }
}

/* Medium devices (desktops, 992px and up) */
#login {
  align-items: center;
  height: 100vh;
  background-color: aqua;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#login .login__cajas,
#login .login__botones {
  display: flex;
  flex-direction: column;
}
